CONFIG_IDF_TARGET="esp32c3"

# Partition table (4MB Flash estandar)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Flash size 4MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# CPU freq por defecto del C3 (160 MHz maximo)
CONFIG_ESP32C3_DEFAULT_CPU_FREQ_160=y
CONFIG_XTAL_FREQ_40=y

# LED GPIO por defecto (GPIO 8 en DevKitM-1 / Super Mini)
CONFIG_CALI_LED_GPIO=8

# Wi-Fi & CSI
CONFIG_ESP_WIFI_MODE_STA=y
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_WIFI_COUNTRY_CODE="01"

# NVS
CONFIG_NVS_ENCRYPTION=n

# MQTT
CONFIG_MQTT_PROTOCOL_5=n

# Power management
CONFIG_PM_ENABLE=y
CONFIG_PM_LIGHT_SLEEP_CALLBACKS=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
