CONFIG_IDF_TARGET="esp32s3"

# Partition table (16MB Flash para ESP32-S3 N16R8)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Flash size 16MB
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"

# CPU freq por defecto del S3 (240 MHz maximo)
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_XTAL_FREQ_40=y

# Consola USB nativo (USB-Serial-JTAG)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# LED GPIO por defecto (GPIO 21 para Super Mini / Zero, GPIO 48 para DevKitC-1)
CONFIG_CALI_LED_GPIO=21

# Wi-Fi & CSI
CONFIG_ESP_WIFI_MODE_STA=y
CONFIG_ESP_WIFI_CSI_ENABLED=y
CONFIG_WIFI_COUNTRY_CODE="01"

# Deshabilitar Bluetooth para optimizacion
CONFIG_BT_ENABLED=n
CONFIG_BT_BLE=n

# NVS
CONFIG_NVS_ENCRYPTION=n

# MQTT
CONFIG_MQTT_PROTOCOL_5=n

# Power management
CONFIG_PM_ENABLE=y
CONFIG_PM_LIGHT_SLEEP_CALLBACKS=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
